link(href='/css/style.css' rel='stylesheet')
div(class="box")
	form(action='/api/create_quad' method='POST')
		input(type="text" placeholder="name" name="name")
		input(type="text" placeholder="description" name="description")
		input(type="text" placeholder="slug" name="slug")
		select(name="location")
			option(value="odessa") Одесса
		input(type="file" placeholder="фон" name="background")
		input(type="submit" value="submit")