link(href='/css/style.css' rel='stylesheet')
div(class="box")
	form(action='/api/register' method='POST')
		input(type="text" placeholder="invite number" name="invite")
		input(type="text" placeholder="login")
		input(type="text" placeholder="password")
		input(type="submit" value="submit")