link(href='/css/style.css' rel='stylesheet')
div(class="box")=bot_nick
	div(class="talkbox")
	input#botNickValue(type='hidden',value=bot_nick)
	
script(src='/js/questions.js')
script.
	botNick=botNickValue.value;
	BotQuestions.init(botNick);
	BotQuestions.loadQuestions();